language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

arch:
  - amd64
  - arm64

cache: apt

compiler:
  - gcc

os: linux

addons:
  apt:
    packages:
      - libsystemd-dev

script:
  - pip wheel cysystemd
